<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.siyu.energyhub.10018</string>
	<string>com.siyu.energyhub.10030</string>
	<string>com.siyu.energyhub.10060</string>
	<string>com.siyu.energyhub.10093</string>
	<string>com.siyu.energyhub.10138</string>
	<string>com.siyu.energyhub.10208</string>
</array>
</plist>
